<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1a6faa2-980e-472f-89bb-c9bc633cab6e" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="558e29d6-6ede-4433-9db8-18e67a4449c5">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="de07a7cf-8740-4e40-a43f-7a4d34f65ef8" SortOrder="0">contactPage</ContentType>
    <ContentType Key="1da0a16f-f9da-4cd6-a672-008510131841" SortOrder="1">servicePage</ContentType>
    <ContentType Key="66db8b0a-7a59-4b1e-a5de-8a6d533acc6c" SortOrder="2">aboutPage</ContentType>
    <ContentType Key="a2c6cbe8-1473-4874-86b8-6bd0bb286a21" SortOrder="3">projects</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>957def41-4ffa-4959-8f1a-dfaae728f342</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>576babdd-e979-4d4b-9db3-0e7db6e6354b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>edb6dfe6-038d-4ffa-b5d5-8135758fade1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>