<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a335ac2-33ad-4221-91f2-b74ae941e599" Alias="Logo Section - Logo List" Level="1">
  <Info>
    <Name>Logo Section - Logo List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e5c9748a-aa80-4055-9445-d564797ba088"
    }
  ]
}]]></Config>
</DataType>