<?xml version="1.0" encoding="utf-8"?>
<DataType Key="576babdd-e979-4d4b-9db3-0e7db6e6354b" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9092c698-10aa-4117-992f-b28abad41755"
    },
    {
      "contentElementTypeKey": "28023468-b0ac-422f-8b99-95061a894743",
      "settingsElementTypeKey": "6eb1e58a-5f62-4d49-a812-06017c6c84e9"
    },
    {
      "contentElementTypeKey": "d40dc8c5-5833-4133-80b4-9d3493b26250"
    },
    {
      "contentElementTypeKey": "50da3d77-3c87-4c58-99ba-be49e70b2e45"
    },
    {
      "contentElementTypeKey": "8864558a-f905-4f3e-9938-f6f9b8b064e4"
    },
    {
      "contentElementTypeKey": "9eb629e0-e2be-470d-87bf-9e1e981808f5"
    },
    {
      "contentElementTypeKey": "ebfeb06f-d735-41b3-8157-72ef95862a7a",
      "settingsElementTypeKey": "09dfc1a0-7f1d-459c-be31-07a71fd57a27"
    },
    {
      "contentElementTypeKey": "609505f5-5ce6-4b35-b930-dd83954b8219"
    },
    {
      "contentElementTypeKey": "8ddbf925-8dfe-40f0-91f3-5a1c56a242ca"
    },
    {
      "contentElementTypeKey": "f92018c4-ec1f-418c-83d5-3759b509e67a"
    },
    {
      "contentElementTypeKey": "d1c28834-e8fc-4a8f-85ee-cc41f5dda4ca"
    },
    {
      "contentElementTypeKey": "c94a8dab-445d-4c72-a6d8-a455d5b65273"
    }
  ]
}]]></Config>
</DataType>