<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e923def-1212-487d-9a01-9f1a8591282c" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a3e966e3-9bc5-4abd-9926-e9bed8d85adb"
    },
    {
      "contentElementTypeKey": "7c63d03a-d86d-4587-a0f4-e9f4db3dd2ec"
    }
  ]
}]]></Config>
</DataType>