<?xml version="1.0" encoding="utf-8"?>
<DataType Key="420389a4-69b8-49fb-b328-4d27a87f44d3" Alias="SharedSection Editor" Level="1">
  <Info>
    <Name>SharedSection Editor</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "ffffff",
      "label": "White"
    },
    {
      "value": "f7f7f7",
      "label": "White-100"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>