<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9541b0a6-e739-43dc-96a3-fe5ea77fe7e4" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7008ded9-5cd2-4514-8cc7-c40d87aa1b00",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>