<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1999606e-b496-424c-8ee4-c4bcf46cff67" Alias="Site Settings - Contact Details List" Level="1">
  <Info>
    <Name>Site Settings - Contact Details List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ebfeb06f-d735-41b3-8157-72ef95862a7a"
    }
  ]
}]]></Config>
</DataType>