<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2086fcdf-786a-42fa-a04f-0c94b392abde" Alias="Success Story Section - Success Story Items List" Level="1">
  <Info>
    <Name>Success Story Section - Success Story Items List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5847930b-7cde-478b-a0c7-ff27fbc0eddf"
    }
  ]
}]]></Config>
</DataType>