<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ffc1364-9e5d-4d55-af41-bd98c3408416" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2b9082ae-1531-4c69-b9c6-7b71e623d29a",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>