<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ec735f0-a11a-4940-b7b3-6bb1124d0188" Alias="01.svg" Level="2">
  <Info>
    <Parent Key="0fd452a1-7b47-420c-b1c9-0ecd0cf534cf">Logos</Parent>
    <Path>/Logos/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T07:15:33</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/akeglhab/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>