<?xml version="1.0" encoding="utf-8"?>
<Media Key="17755c6d-490f-4f81-9957-46bfc6499b61" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="0fd452a1-7b47-420c-b1c9-0ecd0cf534cf">Logos</Parent>
    <Path>/Logos/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T07:15:34</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t5qnp3iu/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>