<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b43baea-bdf5-49a0-932c-2bc0b38216bb" Alias="04.svg" Level="2">
  <Info>
    <Parent Key="0fd452a1-7b47-420c-b1c9-0ecd0cf534cf">Logos</Parent>
    <Path>/Logos/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T07:15:33</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dadpc0po/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>