<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcd5d8ea-6cb4-483d-94b6-ad8e27a46eef" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="0fd452a1-7b47-420c-b1c9-0ecd0cf534cf">Logos</Parent>
    <Path>/Logos/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T07:15:33</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dbshohvp/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>