<?xml version="1.0" encoding="utf-8"?>
<Media Key="75fb226f-8102-4fc2-9fc5-5f89c4c24f08" Alias="Bg.svg" Level="2">
  <Info>
    <Parent Key="e4f34c44-ec0b-4fe8-b499-9f805e0dc259">Contact Details</Parent>
    <Path>/ContactDetails/Bgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T10:13:48</CreateDate>
    <NodeName Default="Bg.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/twpftfyz/bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>