<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4f34c44-ec0b-4fe8-b499-9f805e0dc259" Alias="Contact Details" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-13T10:13:41</CreateDate>
    <NodeName Default="Contact Details" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>