<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5821f2f-9178-45fb-a106-a305fdad52c5" Alias="Dot map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T06:21:55</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1wrcaj1d/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>