<?xml version="1.0" encoding="utf-8"?>
<Media Key="9fbf3b7c-33fe-4587-a07c-0eac988d6ae5" Alias="dot-map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T05:55:04</CreateDate>
    <NodeName Default="dot-map 1.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r0db05pf/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>