<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ad75010-ced4-434a-95d1-40dd0bfb4ecf" Alias="Dot.svg" Level="2">
  <Info>
    <Parent Key="e4f34c44-ec0b-4fe8-b499-9f805e0dc259">Contact Details</Parent>
    <Path>/ContactDetails/Dotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T10:13:48</CreateDate>
    <NodeName Default="Dot.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2lwhlggp/dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>