<?xml version="1.0" encoding="utf-8"?>
<Media Key="42b75b6d-2dd5-47c6-a2ec-3b44ddb10910" Alias="image-24-min 1.svg" Level="2">
  <Info>
    <Parent Key="4cdb83e1-8709-4bc5-8938-97e786de4d32">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image24Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T07:42:03</CreateDate>
    <NodeName Default="image-24-min 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t5tbligo/image-24-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>