<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b26bdbe-eea9-404b-bc1f-65d08838bc96" Alias="image-22-min 1.svg" Level="2">
  <Info>
    <Parent Key="4cdb83e1-8709-4bc5-8938-97e786de4d32">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image22Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T07:42:03</CreateDate>
    <NodeName Default="image-22-min 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jqaii4ns/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>