<?xml version="1.0" encoding="utf-8"?>
<Media Key="019e621c-b0c9-4eac-8361-ad716118035d" Alias="image-13-min 1.svg" Level="2">
  <Info>
    <Parent Key="4cdb83e1-8709-4bc5-8938-97e786de4d32">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image13Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T07:42:03</CreateDate>
    <NodeName Default="image-13-min 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/31pdzy4s/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>