<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0a31f7e-2b51-44f1-8e3b-ee891ca5e827" Alias="image-23-min 1.svg" Level="2">
  <Info>
    <Parent Key="4cdb83e1-8709-4bc5-8938-97e786de4d32">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image23Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T07:42:03</CreateDate>
    <NodeName Default="image-23-min 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rsracesk/image-23-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>