<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc5ba46b-3b77-4ae8-b197-4cfe364a8b8b" Alias="image-24-min 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image24Min2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T08:12:23</CreateDate>
    <NodeName Default="image-24-min 2.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tempsptm/image-24-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>