<?xml version="1.0" encoding="utf-8"?>
<Media Key="24ee8ba7-1573-47d6-a63a-3b9cc5ae754f" Alias="image-47 1.svg" Level="2">
  <Info>
    <Parent Key="9adf143e-e3af-47a7-b8f7-1fa457030bcf">Team Members</Parent>
    <Path>/TeamMembers/image471svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T16:01:39</CreateDate>
    <NodeName Default="image-47 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ku1ezrti/image-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>