<?xml version="1.0" encoding="utf-8"?>
<Media Key="93d84dc6-8bd5-4fd1-aba9-2f517fc5c7b9" Alias="image-106 1.svg" Level="2">
  <Info>
    <Parent Key="9adf143e-e3af-47a7-b8f7-1fa457030bcf">Team Members</Parent>
    <Path>/TeamMembers/image1061svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T16:01:40</CreateDate>
    <NodeName Default="image-106 1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gtyhu2oo/image-106-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>