<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e489bd7-7ce4-4890-8204-e4492ed4267d" Alias="image-18-min 1.svg" Level="2">
  <Info>
    <Parent Key="4cdb83e1-8709-4bc5-8938-97e786de4d32">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image18Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T07:42:03</CreateDate>
    <NodeName Default="image-18-min 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eutovdh5/image-18-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>