<?xml version="1.0" encoding="utf-8"?>
<Media Key="86e27373-a20e-4c1f-b88e-9dfc17334749" Alias="image-21-min 1.svg" Level="2">
  <Info>
    <Parent Key="4cdb83e1-8709-4bc5-8938-97e786de4d32">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image21Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T07:42:03</CreateDate>
    <NodeName Default="image-21-min 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qhheazav/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>