<?xml version="1.0" encoding="utf-8"?>
<Media Key="5441432a-7037-49e9-b839-7008a21fedbd" Alias="Img-1 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img11svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T05:54:48</CreateDate>
    <NodeName Default="Img-1 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1d5ohnrm/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>