<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ae7758e-d468-4899-8913-6cdfb792a3bb" Alias="Img-5-e1695109900349 1.svg" Level="2">
  <Info>
    <Parent Key="e4f34c44-ec0b-4fe8-b499-9f805e0dc259">Contact Details</Parent>
    <Path>/ContactDetails/Img5E16951099003491svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T10:13:49</CreateDate>
    <NodeName Default="Img-5-e1695109900349 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pteel0dt/img-5-e1695109900349-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>