<?xml version="1.0" encoding="utf-8"?>
<Media Key="59ee0bee-3ee9-4dce-80fd-d483dbcc5e70" Alias="img_choose_01_home01 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home011svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T12:50:40</CreateDate>
    <NodeName Default="img_choose_01_home01 1.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ds1ezo5s/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>