<?xml version="1.0" encoding="utf-8"?>
<Media Key="74dcb79a-e8ab-455b-b86c-f684c89055eb" Alias="Kevin-Gardner 1.svg" Level="2">
  <Info>
    <Parent Key="9adf143e-e3af-47a7-b8f7-1fa457030bcf">Team Members</Parent>
    <Path>/TeamMembers/KevinGardner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T16:01:40</CreateDate>
    <NodeName Default="Kevin-Gardner 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nafh3fvq/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>