<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd81a651-f3da-454a-89c9-e884c3f2b781" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T13:19:17</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/umndgl4b/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>