<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fd452a1-7b47-420c-b1c9-0ecd0cf534cf" Alias="Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-13T07:15:26</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>