<?xml version="1.0" encoding="utf-8"?>
<Media Key="7cea9e04-7c58-403c-861e-be56c87b642a" Alias="Logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-09T22:07:36</CreateDate>
    <NodeName Default="Logo.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4yrfrhsd/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>