<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ef665ff-fa0a-4197-9473-b011f7f2bc97" Alias="map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T09:05:08</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bxmfj5ar/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>