<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3cd035a-2f1c-4d01-a486-f4d5f995b99a" Alias="Miranda.svg" Level="2">
  <Info>
    <Parent Key="9adf143e-e3af-47a7-b8f7-1fa457030bcf">Team Members</Parent>
    <Path>/TeamMembers/Mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T16:01:39</CreateDate>
    <NodeName Default="Miranda.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vc5g4mih/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>