<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b765895-5ddd-4e18-aa37-b788176dc84c" Alias="new folder name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-07T16:00:02</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>