<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c446a8a-cdfb-4c7b-85c1-139c0a1fd461" Alias="Onatrix homepic.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixHomepicsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T12:27:06</CreateDate>
    <NodeName Default="Onatrix homepic.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pdlpn1xa/onatrix-homepic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>