<?xml version="1.0" encoding="utf-8"?>
<Media Key="edacf35f-5d89-4576-b04b-34ae33aa06e7" Alias="OnlineSignatures.net-302 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T07:38:58</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vvha2d2s/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>