<?xml version="1.0" encoding="utf-8"?>
<Media Key="e58005b9-5324-467d-8b77-fb44a036df20" Alias="post2 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T05:22:31</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jo2cebz5/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>