<?xml version="1.0" encoding="utf-8"?>
<Media Key="9adf143e-e3af-47a7-b8f7-1fa457030bcf" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-07T16:00:13</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>