<?xml version="1.0" encoding="utf-8"?>
<Media Key="d12a4f77-9742-41ce-b020-9c56d24742fe" Alias="Video.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T06:23:02</CreateDate>
    <NodeName Default="Video.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qxziqm0z/video.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>