@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.LogoSection)Model.Content;
}

<section class="logo-section">
    <div class="logo-container">

        <div class="logo-grid">
            @foreach (var item in content.LogoList)  // <-- Ditt property ALIAS här
            {
                var logo = item.Content as ContentModels.LogoItem;

                <div class="logo-box">
                    @if (logo?.LogoImage != null)
                    {
                        <img src="@logo.LogoImage.Url()" alt="Logo" />
                    }
                </div>
            }
        </div>

    </div>
</section>



