<?xml version="1.0" encoding="utf-8"?>
<Content Key="70784ee2-56fa-4b50-b973-e331d877d623" Alias="2025-11-14 11-28 - Test" Level="2">
  <Info>
    <Parent Key="d72f3b17-e201-45fa-967f-ede258b5c8e6">Form Submissions</Parent>
    <Path>/FormSubmissions/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-14T11:28:34</CreateDate>
    <NodeName Default="2025-11-14 11-28 - Test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business advice]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0707202020]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>