<?xml version="1.0" encoding="utf-8"?>
<Content Key="28cc4a7c-10c1-44ef-95b4-20424239d306" Alias="2025-11-14 11-10 - Emma" Level="2">
  <Info>
    <Parent Key="d72f3b17-e201-45fa-967f-ede258b5c8e6">Form Submissions</Parent>
    <Path>/FormSubmissions/Emma</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-14T11:10:45</CreateDate>
    <NodeName Default="2025-11-14 11-10 - Emma" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[emma@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Emma]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business advice]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0707101010]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>