<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d916997-5ff0-4f80-95ff-8509c18f957d" Alias="Contact" Level="2">
  <Info>
    <Parent Key="b4f9cf39-65f4-4c2e-a8a7-f47fb519a8c1">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-07T13:32:36</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8580810d-41ce-4d5c-bd70-b2114ab31426">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9eb629e0-e2be-470d-87bf-9e1e981808f5",
      "key": "7392aaa0-d207-4634-a516-617f6fc6b18b",
      "udi": null,
      "values": [
        {
          "alias": "logoList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e5c9748a-aa80-4055-9445-d564797ba088",
                "key": "f10e5b5d-aec4-4841-b187-070ca4ae036d",
                "udi": null,
                "values": [
                  {
                    "alias": "logoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a0e9d77c-0ef0-4f59-8137-c7415d68d866",
                        "mediaKey": "7ec735f0-a11a-4940-b7b3-6bb1124d0188",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e5c9748a-aa80-4055-9445-d564797ba088",
                "key": "44ac1aef-c875-41e4-be6d-4bf8708deb2b",
                "udi": null,
                "values": [
                  {
                    "alias": "logoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "98d534e6-ed8d-4e30-905a-fb9af2cc0d18",
                        "mediaKey": "17755c6d-490f-4f81-9957-46bfc6499b61",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e5c9748a-aa80-4055-9445-d564797ba088",
                "key": "bac530a3-8b15-402e-bcbf-83846be57d11",
                "udi": null,
                "values": [
                  {
                    "alias": "logoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6e0981d5-4844-4182-af3c-3aafdf825992",
                        "mediaKey": "37001cf8-73da-4fdb-87d7-acecc5b04c41",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e5c9748a-aa80-4055-9445-d564797ba088",
                "key": "17cf0430-0d43-498f-bf40-27b97955652d",
                "udi": null,
                "values": [
                  {
                    "alias": "logoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7ea02eca-8bd5-4d2d-8728-5672f7a8b3e3",
                        "mediaKey": "8b43baea-bdf5-49a0-932c-2bc0b38216bb",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e5c9748a-aa80-4055-9445-d564797ba088",
                "key": "6771bc0f-716f-40ff-9576-aabcb3fd7626",
                "udi": null,
                "values": [
                  {
                    "alias": "logoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "71a3b0b0-a50f-47ab-9804-b1cd7f680c90",
                        "mediaKey": "fcd5d8ea-6cb4-483d-94b6-ad8e27a46eef",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e5c9748a-aa80-4055-9445-d564797ba088",
                "key": "cf429b12-a985-4643-a024-d2704509f785",
                "udi": null,
                "values": [
                  {
                    "alias": "logoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4e5c4d26-430b-47d6-8e2e-dba7cc79d9c0",
                        "mediaKey": "d9498ad0-e599-4b64-b5fb-1fe4b5707ada",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "f10e5b5d-aec4-4841-b187-070ca4ae036d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "44ac1aef-c875-41e4-be6d-4bf8708deb2b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bac530a3-8b15-402e-bcbf-83846be57d11",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "17cf0430-0d43-498f-bf40-27b97955652d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6771bc0f-716f-40ff-9576-aabcb3fd7626",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cf429b12-a985-4643-a024-d2704509f785",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "f10e5b5d-aec4-4841-b187-070ca4ae036d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "44ac1aef-c875-41e4-be6d-4bf8708deb2b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "bac530a3-8b15-402e-bcbf-83846be57d11",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "17cf0430-0d43-498f-bf40-27b97955652d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6771bc0f-716f-40ff-9576-aabcb3fd7626",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cf429b12-a985-4643-a024-d2704509f785",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "ebfeb06f-d735-41b3-8157-72ef95862a7a",
      "key": "8d464583-67e1-4794-9fba-507e62e07035",
      "udi": null,
      "values": [
        {
          "alias": "contactDetailsTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactDetailsLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EOffice location\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022\u003E\u003Cspan class=\u0022text-body-text\u0022\u003EKlarabergsviadukten 90, 111 52 Stockholm\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactDetailsNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EPhone number\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022\u003E\u003Cspan class=\u0022text-body-text\u0022\u003E\u002B46 8 123 456 75\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactDetailsEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EE-mail address\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022\u003E\u003Cspan class=\u0022text-body-text\u0022\u003Esales@onatrix.com\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactDetailsBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a01e8660-ae3d-4577-b31b-915de409b6aa",
              "mediaKey": "75fb226f-8102-4fc2-9fc5-5f89c4c24f08",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactDetailsDotImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d5746873-4ceb-45b3-ba7c-9faa1e4f0e4c",
              "mediaKey": "7ad75010-ced4-434a-95d1-40dd0bfb4ecf",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactDetailsPersonImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "811645ef-5f19-42c2-9002-486402b4904b",
              "mediaKey": "0ae7758e-d468-4899-8913-6cdfb792a3bb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c94a8dab-445d-4c72-a6d8-a455d5b65273",
      "key": "5e1c9000-e043-4795-a946-5472ec050258",
      "udi": null,
      "values": [
        {
          "alias": "formContentBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3c2acb68-41c5-4703-a36a-93b317d563e8",
              "mediaKey": "1ef665ff-fa0a-4197-9473-b011f7f2bc97",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "formContentText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-secondary\u0022\u003EREQUEST A CALL BACK\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-body-text\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "formContentSubmitLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Submit"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "09dfc1a0-7f1d-459c-be31-07a71fd57a27",
      "key": "1e914a80-87e3-437a-adb6-a79065d73734",
      "udi": null,
      "values": [
        {
          "alias": "contactDetailsBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7392aaa0-d207-4634-a516-617f6fc6b18b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8d464583-67e1-4794-9fba-507e62e07035",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5e1c9000-e043-4795-a946-5472ec050258",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8d464583-67e1-4794-9fba-507e62e07035",
        "contentUdi": null,
        "settingsKey": "1e914a80-87e3-437a-adb6-a79065d73734",
        "settingsUdi": null
      },
      {
        "contentKey": "5e1c9000-e043-4795-a946-5472ec050258",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7392aaa0-d207-4634-a516-617f6fc6b18b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>