<?xml version="1.0" encoding="utf-8"?>
<Content Key="669f1386-e72c-417c-99fc-9b5dc383abbd" Alias="Projects" Level="2">
  <Info>
    <Parent Key="b4f9cf39-65f4-4c2e-a8a7-f47fb519a8c1">Onatrix</Parent>
    <Path>/Onatrix/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2025-11-15T10:10:53</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
  </Properties>
</Content>