<?xml version="1.0" encoding="utf-8"?>
<Content Key="99a3abdc-db20-45c5-b451-c77cdfcefe2d" Alias="Services" Level="2">
  <Info>
    <Parent Key="b4f9cf39-65f4-4c2e-a8a7-f47fb519a8c1">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-07T15:08:20</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8d1c28f4-2450-41c6-b5bb-c39c6e277975">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "28023468-b0ac-422f-8b99-95061a894743",
      "key": "480ad0c9-a4d9-413b-af74-607e1313df89",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "ebfeb06f-d735-41b3-8157-72ef95862a7a",
      "key": "aae7a227-6f50-40cf-b4f6-cc01bbc54ae9",
      "udi": null,
      "values": [
        {
          "alias": "contactDetailsTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactDetailsLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EOffice location\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022\u003E\u003Cspan class=\u0022text-body-text\u0022\u003EKlarabergsviadukten 90, 111 52 Stockholm\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactDetailsNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EPhone number\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022\u003E\u003Cspan class=\u0022text-body-text\u0022\u003E\u002B46 8 123 456 75\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactDetailsEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EE-mail address\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022\u003E\u003Cspan class=\u0022text-body-text\u0022\u003Esales@onatrix.com\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactDetailsPersonImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "29ba195b-7777-43e1-b4d2-364538d71483",
              "mediaKey": "0ae7758e-d468-4899-8913-6cdfb792a3bb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactDetailsBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "204a3605-f29c-41f4-8f3b-bc0d9ef9be68",
              "mediaKey": "75fb226f-8102-4fc2-9fc5-5f89c4c24f08",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactDetailsDotImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c29b7402-70d2-4beb-8eb9-bbde040f018d",
              "mediaKey": "7ad75010-ced4-434a-95d1-40dd0bfb4ecf",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6eb1e58a-5f62-4d49-a812-06017c6c84e9",
      "key": "b6ac42c4-6e53-4fce-a120-a98de76559fd",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "09dfc1a0-7f1d-459c-be31-07a71fd57a27",
      "key": "e998c597-42d2-45c3-ad77-3525553434cf",
      "udi": null,
      "values": [
        {
          "alias": "contactDetailsBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "480ad0c9-a4d9-413b-af74-607e1313df89",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "aae7a227-6f50-40cf-b4f6-cc01bbc54ae9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "480ad0c9-a4d9-413b-af74-607e1313df89",
        "contentUdi": null,
        "settingsKey": "b6ac42c4-6e53-4fce-a120-a98de76559fd",
        "settingsUdi": null
      },
      {
        "contentKey": "aae7a227-6f50-40cf-b4f6-cc01bbc54ae9",
        "contentUdi": null,
        "settingsKey": "e998c597-42d2-45c3-ad77-3525553434cf",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>