<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec13ee97-e357-4228-94e0-bb262b45b594" Alias="Site Settings " Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-09T22:11:02</CreateDate>
    <NodeName Default="Site Settings " />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactDetailsBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ebfeb06f-d735-41b3-8157-72ef95862a7a",
      "key": "32e68190-83fa-407e-8014-145052dea1b2",
      "udi": null,
      "values": [
        {
          "alias": "contactDetailsTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactDetailsLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EOffice location\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022\u003E\u003Cspan class=\u0022text-body-text\u0022\u003EKlarabergsviadukten 90, 111 52 Stockholm\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactDetailsNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EPhone number\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022\u003E\u003Cspan class=\u0022text-body-text\u0022\u003E\u002B46 8 123 456 75\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactDetailsEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EE-mail address\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022\u003E\u003Cspan class=\u0022text-body-text\u0022\u003Esales@onatrix.com\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactDetailsPersonImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "12184fda-9dda-472d-87cc-3049340b6b2e",
              "mediaKey": "0ae7758e-d468-4899-8913-6cdfb792a3bb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactDetailsBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "43b77ee2-3e08-41a6-9b59-843fe7c867b8",
              "mediaKey": "75fb226f-8102-4fc2-9fc5-5f89c4c24f08",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactDetailsDotImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d8c468a6-7503-41f6-b013-19e3f4d7e6b6",
              "mediaKey": "7ad75010-ced4-434a-95d1-40dd0bfb4ecf",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "32e68190-83fa-407e-8014-145052dea1b2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "32e68190-83fa-407e-8014-145052dea1b2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactDetailsBlock>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <footerCopyright>
      <Value><![CDATA[© Onatrix. All Rights Reserved.]]></Value>
    </footerCopyright>
    <footerCreditLink>
      <Value><![CDATA[Themesflat]]></Value>
    </footerCreditLink>
    <footerCreditText>
      <Value><![CDATA[Credits to]]></Value>
    </footerCreditText>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7008ded9-5cd2-4514-8cc7-c40d87aa1b00",
      "key": "ee0e3287-b355-4bec-9a20-5c9b8d8e5df5",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "7008ded9-5cd2-4514-8cc7-c40d87aa1b00",
      "key": "c28a1ae4-44b3-4ac1-a701-41ae52fb0626",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    },
    {
      "contentTypeKey": "7008ded9-5cd2-4514-8cc7-c40d87aa1b00",
      "key": "d7d7c837-ab72-4935-b250-9a1b1124f2c8",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ee0e3287-b355-4bec-9a20-5c9b8d8e5df5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c28a1ae4-44b3-4ac1-a701-41ae52fb0626",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d7d7c837-ab72-4935-b250-9a1b1124f2c8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ee0e3287-b355-4bec-9a20-5c9b8d8e5df5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c28a1ae4-44b3-4ac1-a701-41ae52fb0626",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d7d7c837-ab72-4935-b250-9a1b1124f2c8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "3fefb96b-fab3-4303-9753-0790bab5c271",
    "mediaKey": "7cea9e04-7c58-403c-861e-be56c87b642a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>