@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "mainLayout.cshtml";

	var siteSettings = Umbraco.ContentAtRoot().DescendantsOrSelf<SiteSettings>().FirstOrDefault();
	var isServiceDetail = Umbraco.AssignedContentItem is ServiceDetail;
}

<partial name="Partials/Layout/PageHeader" model="(IPageHeader)Model" />

<section class="service-detail-section">
	<div class="service-detail-container">
		<div class="service-detail-wrapper">
			<aside class="service-detail-aside">
				@Html.GetBlockListHtml(Model.ServiceDetailAsides)
			</aside>

			<div class="service-detail-divider">
			</div>

			<div class="service-detail-content">
				<div class="rte">@Html.Raw(Model.ServiceDetailBody)</div>
			</div>

		</div>
	</div>

	@if (Model.ServiceDetailsContactSection != null)
	{
		@Html.GetBlockListHtml(Model.ServiceDetailsContactSection)
	}


</section>